.contact-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
